/*リセットCSS*/
hr{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
  margin: 0%;
  counter-reset: number 0;
}

p{
    margin: 0;
}

/*ヘッダー*/
header{
    width: 100%;
    height: 4.861vw;
    display: flex;
    justify-content: space-between;
    background-color:#6694BF;
    color: #FFFF;
}

.logo{
    font-size: 2.22vw;
    margin: 0.833vw 38.583vw 0.833vw 12.22vw;
    font-family: Noto Serif JP;
}

.menu{
    display: flex;
    justify-content: space-between;
    font-size: 1.11vw;
    list-style: none;
    align-items: center;
    font-family: Noto Serif JP;
    margin-right: 7.77vw;
}

li{
    margin-right: 5vw;
}

/*kv*/
.kv{
    width: 100%;
    height: 46.388vw;
    background-image:url(../img/kv.png);
    background-size: 100vw 46.388vw;
}

.slogan-p{
    font-size: 2.777vw;
    font-family: Noto Serif JP;
    padding: 7.4305vw 0 0 49.097vw;
    position: relative;
    margin: 0;
}
.kv img{
    position: absolute;
    width: 8.095vw;
    height: auto;
    top: 22vw;
    left: 50vw;
}
.slogan-p-n{
    font-size: 3.88vw;
    font-family: Noto Serif JP;
    padding: 5.694vw 0 0 59.853vw;
    margin: 0;
}


.slogan-p-v{
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #EA3152,#FF758E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.041vw;
    font-family: Noto Serif JP;
    margin: 0 0 11.38vw 62.5vw;
}
.value{
    font-size: 4vw;
}

.slogan-p-v2{
    position: absolute;
    font-size: 1.5097vw;
    font-family: Noto Serif JP;
    top: 31.5vw;
    left: 78vw;
}

.cta{
    position: absolute;
    font-family: Noto Sans JP;
    writing-mode: vertical-rl;
    font-size: 1.666vw;
    color: white;
    text-align: center;
    top: 13vw;
    left: 92vw;
    width: 5.7638vw;
    height: 24.9305vw;
    background:linear-gradient(-90deg, #FF758E, #fff); 
    border-radius: 10px;
    border: 5px solid #EA3152;
    text-decoration: none;
}

.cta p{
    padding: 1.5277vw 2.1527vw;
}

/*お悩みセクション*/
.lattice{
    width: 100%;
    height: 74.93vw;
    background-image:url(../img/lattice-background.png);
    background-size: 100vw 74.93vw;
}

.question,
.trouble-p{
    font-family: Noto Serif JP;
    font-weight: 600;
    color: #333;
}

.question{
    font-size: 2.77vw;
    margin: 0;
    padding: 7.22vw 26.0vw 0 26.0vw;
    -webkit-text-stroke: 1px #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.trouble-p{
    font-size: 3.888vw;
}

.question-img-block01,
.question-img-block02{
    display: flex;
}
.question01-p,
.question02-p,
.question03-p,
.question04-p,
.question05-p{
    font-family: Noto Serif JP;
    font-size: 1.11vw;
}
.question01{
    width: 20.833vw;
    height: 16.458vw;
    margin: 2.708vw 0 0 17.152vw;
    position: relative;
}
.question01-p{
    position: absolute;
    top: 73.5vw;
    left: 21vw;
}

.question02{
    width: 20.486vw;
    height: 15.347vw;
    margin: 5.625vw 19.44vw 0 22.083vw; 
}
.question02-p{
    position: absolute;
    top: 76vw;
    left: 64vw;
}
.question03{
    width: 21.736vw;
    height: 14.931vw;
    margin: 2.986vw 41.66vw 0 36.597vw;
}
.question03-p{
    position: absolute;
    top: 94vw;
    left: 41vw;
}
.question04{
    width: 20vw;
    height: 18.4027vw;
    margin: -4vw 5.138vw 8.4027vw 12.22vw;
}
.question04-p{
    position: absolute;
    top: 107vw;
    left: 15vw;
}

.question05{
    width: 20vw;
    height: 17.0138vw;
    margin: -1vw 14.305vw 6.944vw 34.44vw;
}
.question05-p{
    position: absolute;
    top: 109.5vw;
    left: 75vw;
}

/*○○が選ばれる理由*/
.wave{
    width: 100%;
    height:90.416vw;
    background-image:url(../img/wave-background.png);
    background-size: 100vw 90.416vw;
}

.reason,
.choice{
    font-family: Noto Serif JP;
}

.reason{
    font-size: 2.77vw;
    color: #4079AD;
    margin: 0;
    padding: 7.22vw 35.27vw 0 35.27vw;
    -webkit-text-stroke: 1px #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5.138vw;
}

.choice{
    font-size: 3.888vw;
}

.text-block{
    font-family: Roboto;
    margin: 6.527vw 21.25vw 0 64.2361vw;
    position: relative;
}
.text-big{
    font-size: 2.22vw;
    width: 14.5138vw;
    height: auto;
}

.text-small{
    font-size: 1.11vw;
    width: 14.2361vw;
    height: auto;
    margin-top: 1.11vw;
}

.text-block:before{
    counter-increment: number 1;
    content:"0" counter(number) " "; 
    position: absolute;
    font-size: 6.944vw;
    font-family: Noto Serif JP;
    width: 7.77vw;
    height: 10vw;
    background: linear-gradient(180deg, #52A7F5 0%, rgba(32, 36, 131, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0vw;
    right: 15vw;
}
.wave img{
    position: absolute;
    width: 16.890vw;
    height: 55.757vw;
    filter: drop-shadow(-25px 74px 32px rgba(0, 0, 0, 0.25));
    transform: rotate(-15.01deg);
    top: 140vw;
    right: 60vw;
}

/*○○の特徴*/
.white{
    width: 100%;
    height:170.833vw;
    background-image:url(../img/white-background.png);
    background-size: 100vw 170.833vw;
}

.feature{
    font-size: 2.77vw;
    font-family: Noto Serif JP;
    padding: 7.22vw 40vw 0 40vw;
    border: 3px solid #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature-b{
    font-size: 3.88vw;
}

.white-block{
    width: 75.55vw;
    height: 144.0277vw;
    margin: 6.805vw 10.6805vw 7.22vw 10.236vw;
    background-color: #FFF;
    overflow: hidden;
}

.choice-text-block{
    z-index: 20;
    width: 35.9027vw;
    height: 23.4027vw;
    background: linear-gradient(112.67deg, rgba(84, 166, 184, 0.42) 0%, rgba(121, 225, 179, 0.417856) 49.51%, rgba(84, 198, 95, 0.4158) 97%);
    margin-top: 15.4861vw;
    margin-left: 8.125vw;
}
.choice-text-b{
    font-size: 2.22vw;
    font-family: Roboto;
    padding: 4.583vw 4.166vw 0 4.3055vw;
}

.choice-text-s{
    font-size: 1.11vw;
    font-family:Roboto;
    padding: 3.1944vw 5.1388vw 3.4027vw 4.3055vw;
}
.choice-block img{
    z-index: 10;
    background-image: url(../img/lotion-Water-2.png);
    width: 29.5138vw;
    height:auto;
    margin: 6.3194vw 5.833vw 3.055vw -5vw;
}

.choice-block{
    display: flex;
}
.choice-block:nth-of-type(2n){
    flex-direction: row-reverse;
    margin: 5vw 5.833vw 0 0;
}
.choice-block:nth-of-type(2n) img{
    margin: 5vw -12vw 3.055vw 0;
}

/*申し込む*/
.apply{
    width: 100%;
    height: 67.5vw;
    background: linear-gradient(180deg, #C1E1FF 0%, #6694BF 100%);
    overflow: hidden;
}

.white-block-apply-out{
    width: 85.8333vw;
    height: 53.055vw;
    background-color: #FFF;
    margin: 7.222vw 7.0833vw;
    overflow: hidden;
}

.white-block-apply-in{
    width: 83.263vw;
    height: 50.694vw;
    margin: 1.180vw;
    border: solid 1px #202483;
}

.apply-text-1{
    font-family: Noto Serif JP;
    font-size: 1.666vw;
    width: 26.66vw;
    height: auto;
    margin: 5.208vw 19.236vw 0 37.361vw;
}

.apply-text-2{
    font-family: Noto Serif JP;
    font-size: 2.22vw;
    width: 26.66vw;
    height: auto;
    margin: 1.527vw 19.236vw 0 37.361vw;
}

.apply-text-3{
    font-family: Noto Serif JP;
    font-size: 2.77vw;
    width: 19.44vw;
    height: auto;
    margin: 1.527vw 22.847vw 0 40.972vw;
}

.triangle-v{
    position: relative;
    width: 20vw;
    height: 3vw;
    background-color: #F8718A;
    margin: 1.11vw 22.847vw 0 41.11vw;
}

.triangle-v:after {
    content: "";
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    border-right: 10vw solid transparent;
    border-left: 10vw solid transparent;
    border-top: 3vw solid #F8718A;
    padding-bottom: 3.26vw;
  }

.slogan-p-v-2{
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #EA3152,#FF758E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.041vw;
    font-family: Noto Serif JP;
    margin: 2.4166vw 21.944vw 0 41.11vw;
}

.slogan-p-v2-2{
    position: absolute;
    font-size: 1.5097vw;
    font-family: Noto Serif JP;
    top: 426.5vw;
    left: 64.5vw;
}

.apply-img-1{
    position: absolute;
    width: 10.9541vw;
    height: auto;
    top: 398vw;
    left: 20vw;
}
.apply-img-2{
    position: absolute;
    width: 10.972vw;
    height: auto;
    top: 432vw;
    left: 20vw;
}

.apply-allow{
    height: 3.419vw;
    width: 2.9875vw;
    background: linear-gradient(89.67deg, #FFD43E 4.4%, #FFD43E 94.37%);
    position:absolute;
    margin-top: 20px;
    margin: 5vw 0 0 30.277vw;
}
.apply-allow::after {
    content:  '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #FFD43E;
    position:  absolute;
    top: -25%;
    left: 100%;
}


.entry{
    width: 38.33vw;
    height: 6.944vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Noto Serif JP;
    font-size: 3.888vw;
    padding: 10px 10px 10px 0px;
    gap: 10px;
    text-decoration: none;

    background: #30C62D;
    border: 5px solid #2A9D17;
    box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25), inset 0px 30px 16px rgba(255, 255, 255, 0.46);
    border-radius: 17px;

    margin: 1.25vw 12.43vw  5.208vw 32.5vw;
}

/*喜びの声*/
.happy-voice{
    width: 100%;
    height: 14.932vw;
    background: #D9D9D9;
    display: flex;
    text-align: center;
}

.happy-voice-p{
    font-family: Noto Serif JP;
    font-size: 2.77vw;
    font-weight: 600;
    color: #FFFF;
    -webkit-text-stroke: 3px #C69F3B;
    margin: 3.5416vw 0 0 26.458vw;
}
.happy-voice-p2{
    font-family: Noto Serif JP;
    font-size: 4.44vw;
    color: #FFFF;
    -webkit-text-stroke: 3px #C69F3B;
    margin: 2.847vw 0 3.613vw 1.5vw;
    transform: rotate(-15deg);
}
.happy-voice-p3{
    font-family: Noto Serif JP;
    font-size: 2.77vw;
    color: #FFFF;
    -webkit-text-stroke: 3px #C69F3B;
    margin: 7.0138vw 26.458vw 3.9597vw 0;
}

/*レビュー*/
.review{
    width: 100%;
    height:100%;
    background-image:url(../img/background-circle.png);
    background-size: 100vw 140.833vw;
    overflow: hidden;
    background-repeat: no-repeat;
}

.white-block-review{
    width: 75.55vw;
    height: 60vw;
    background-color: #FFFF;
    margin: 8.194vw 1.22vw 11.11vw 11.22vw;
}

.separate{
    display: flex;
}

.separate-img{
    width: 27.916vw;
    height: auto;
    margin: 10.138vw 5.208vw 0 4.9305vw;
    position: relative;
}

.initial-img{
    width: 19.2708vw;
    height: auto;
    position: absolute;
    top: 506vw;
    left: 16vw;
}
.initial-p{
    font-family: Noto Serif JP;
    font-size: 1.66vw;
    color: #FFFF;
    position: absolute;
    top: 506.5vw;
    left: 18.5vw;
}
.initial-img2{
    width: 19.2708vw;
    height: auto;
    position: absolute;
    top: 577vw;
    left: 16vw;
}
.initial-p2{
    font-family: Noto Serif JP;
    font-size: 1.66vw;
    color: #FFFF;
    position: absolute;
    top: 577.5vw;
    left: 18.5vw;
}
.text-b{
    font-family: 'Noto Serif JP';
    font-size: 2.22vw;
    width: 32.22vw;
    height: auto;
    margin: 11.66vw 0 0 0;
}

.hr1{
    border: 1px solid #000000;
    width: 32.22vw;
    margin: 2.77vw 0 2.916vw 0;
}

.text-s{
    width: 32.22vw;
    font-family: Noto Serif JP;
    font-size: 1.11vw;
}

.text-color{
    font-family: Noto Serif JP;
    font-size: 1.11vw;
    width: 65.347vw;
    height: auto;
    margin: 2.916vw 5.277vw 0 4.9305vw;
}

.text-color-red{
    color: #EA3152;
}

.block4{
    margin-top: 11.11vw;
}

/*お問合せ*/
.contact{
    width: 100%;
    height: 123.472vw;
    background: linear-gradient(180deg, #C1E1FF 0%, #6694BF 100%);
    overflow: hidden;
}

.white-block-contact{
    width: 75.55vw;
    height: 109.027vw;
    background-color: #FFFF;
    margin: 7.22vw 12.22vw;
    overflow: hidden;
}

.contact-b{
    font-family: Noto Serif JP;
    font-size: 3.88vw;
    margin: 7.361vw 26.11vw 0 26.11vw;
}

.hr2{
    border: 5px solid #4079AD;
    width: 10.972vw;
    margin: 2.0138vw 32.291vw 0 32.291vw;
}

label {
    display: block;
   }
 
.example,
.agreelabel{
    font-family: Noto Serif JP;
    font-size: 1.66vw;
    color: #333333;
    text-align: center;
    margin-top: 4.79vw;
}

input.name,
input.email,
input.tel,
textarea.iken{
    width: 52.708vw;
    height: 3.75vw;
    background: rgba(167, 235, 239, 0.57);
    border: none;
    margin: 1.11vw 0 4.44vw 0;
}
textarea.iken{
    width:52.708vw;
    height: 19.166vw;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    font-size:1.66vw;
}
input[type="checkbox"]{
    transform:scale(4.4);
    border: 5px solid #4079AD;
    border-radius: 4px;
    background: #E8E8E8;
    margin-right: 1vw;
}
input[type="submit"]{
    width: 34.027vw;
    height: 7.7083vw;
    font-size: 2.77vw;
    font-family: Noto Sans JP;
    color: #FFFF;
    border: none;
    border-radius: 0.694vw;
    background: #54A6B8;
    box-shadow: inset 0px 21px 10px rgba(255, 255, 255, 0.25);

}

/*フッター*/

footer{
    width: 100%;
    height: auto;
    background: #44515C;
}

.footer-menu{
    display: flex;
}

.logo{
    width:7.77vw ;
    font-family: Noto Serif JP;
    font-size: 3.88vw;
    color: #FFFF;
    margin-top: 7.22vw;
}

.menu2{
    font-family: Noto Serif JP;
    font-size: 1.11vw;
    color: #FFFF;
    list-style: none;
    justify-content: space-between;
    margin-top: 7.22vw;
}

.menu2 li{
    margin-top: 1.805vw;
}

.footer-text{
    font-family: Noto Serif JP;
    font-size: 1.11vw;
    color: #FFFF;
    text-align: center;
    margin-top: 6.805vw;
}